#btn_label {
    font-size: 15px;
    line-height: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
 
#submit_btn_container {
     
 	
    background-color: #1E954A;
    color: #fff;
    height: 40px;
    width: 75px;
    margin: 20px auto;
     
    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
    
    /*corners*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;  

}

#cancel_btn_container {
     
 	
    background-color: #AB9CA0;
    color: #fff;
    height: 40px;
    width: 75px;
    margin: 20px auto;
     
    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
    
    /*corners*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;  

}