/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Feb-2014, 06:37:15
    Author     : yamini
*/

/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/*Basic reset*/
* {margin: 0; padding: 0;}

#accordian {
	background: #096772;
	width: 100%;
	margin: 0 auto 0 auto;
	color: white;
	/*Some cool shadow and glow effect*/
	/*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
 */
}
/*heading styles*/
#accordian h3 {
	font-size: 1.5rem;
	line-height: 50px;
	padding: 0 10px;
	cursor: pointer;
        margin-top: 0px;
        margin-bottom: 0px;
	/*fallback for browsers not supporting gradients*/
	background: #003040; 
	background: linear-gradient(#002535,#003040, #002535);
}
/*heading hover effect*/
#accordian h3:hover{
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
        background: #096772;
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 1.4rem;
	margin-right: 10px;
        margin-left: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/

#accordian ul ul li{
    padding: 0 5px;
}

#accordian ul ul li a {
	color: whitesmoke;
	text-decoration: none;
	font-size: 1.4rem;
	line-height: 27px;
	display: block;
	padding: 0 17px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

